
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App-header {
  width: 100%;
  display: flex;
  color: rgb(6, 6, 6);
  padding-right: 2%;
  padding-left: 2%;
  font-family: 'Monaco', monospace;
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.logo-area {
  display: flex;
  align-items: center;
}

.social-area {
  display: flex;
  padding-right: 5%;
  align-items: center;
}

.socials {
  padding: 5px;
  width: 30px;
  height: 30px;
}



img {
  width: 50px;
  height: 50px;
}

.App {
  /* font-family: 'Verdana', sans-serif;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: #4c574c;
  width: 50%; */

  width: 50%;
  font-family: 'Verdana', sans-serif;
}

.App-h1 {
  /* color: #000000;
  font-size: 75px;
  font-weight: 700;
  line-height: 70px;
   */

  color: #000000;
  font-size: 70px;
  font-weight: 700;
  line-height: 1.2;
  height: 250px;
}

.App-btn {
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Monaco', monospace;
}

.App-p {
  font-family: 'Monaco', monospace;
  font-size: 17px;
}

.App-image {
  /* width: 50%;
  height: 100%;
  padding: 5px; */

  width: 50%;
}

.intro {
  /* display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5%; */

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.bg {
  /* background-repeat: no-repeat; */
  /* height: 90%;
  width: 90%;
  object-fit: cover; */

  width: 100%;
  height: auto;
}

.section-2 {
  display: flex;
  justify-content: center;
  height: auto;
  background-image:  url('./images/background 3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

#section2 {
  margin-top: 400px;
}

.navTab {
  font-size: large;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
  padding-bottom: 50px;
  width: 40%;
  display: flex;
  justify-content: center;
}

.tablist {
  justify-content: center;
  color: #f5ce1f;
  font-family: 'Monaco', monospace;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 91%;
  height: auto;
  border-radius: 15px;
  background-image: 
  /* linear-gradient(
    to bottom right,
    rgba(255, 164, 59, 57%), rgb(255, 251, 148, 67%)
    /* var(--tabs-bg-one),
    var(--tabs-bg-two) )*/
    rgba(255, 255, 255, 0.2);
  box-shadow: -1.5px -1.5px 2px -2px var(--white),
    5px 5px 30px rgb(0, 0, 0, 0.2);
  border: 0.5px solid;
  border-color: rgba(255, 255, 255, 0.3) rgba(255, 255, 255, 0.3) transparent
    rgba(255, 255, 255, 0.3);
  padding: 2%;
  margin: 2%;
}

.react-tabs__tab--selected {
  /* background-color: ; */
  border-color: 0;
  border-radius: 0%;
}

.main-container {
  margin: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  /* height: 85vh; */
}

.form-head {
  font-family: 'Monaco', monospace;
  padding-bottom: 20px;
  color: #FFD700;

  /* font-family: 'Monaco', monospace;
  padding-bottom: 20px;
  background: linear-gradient( #FF7F50, #D3D3D3 );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;  */
}

/* Style for input and select elements */
input {
  border: none;
  /* border-bottom: 2px solid #ffffff; */
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset; */
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px rgb(104, 104, 104);
  margin-right: 10px;
  background-color: unset;
  color: #F5F5DC;
  font-family: 'Lucida Console', monospace;
}

/* Style for labels */
.label {
  /* font-family: 'Arial', sans-serif, monospace; */
  font-family: 'Lucida Console', monospace;
  color: #FFD700;
  font-size: medium;
  font-weight: 600;
  padding-left: 10px;
}

/* Style for the results area */
.result-container {
  display: flex;
  justify-content: center;
  font-family: 'Monaco', monospace;
  margin-top: -3%;
  
}

.results {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.result {
  display: flex;
  justify-content: space-around;
}

.result-ite {
  padding-bottom: 20px;
}

/* Style for individual result items */
.result-item {
  display: inline-block;
  /* margin-right: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  
}

.word1 {
  font-family: 'Monaco', monospace;
  color: #FFD700;
  font-size: small;
  font-weight: 500;
}

.subject {
  color: #F5F5DC;
}

/* Larger text for price estimations */
.price-estimate {
  font-size: 2em;
  color: #FFD700;
}

.btn {
  padding: 30px 10px ;
  display: flex;
  justify-content: center;
}

/* Button styling */
.button {
  font-family: 'Lucida Console', monospace;
  background: linear-gradient(to bottom right, #ae8625, #f7ef8a, #d2ac47);
  color: #F5F5DC;
  font-size: medium;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

/* Hover effect for buttons */
.button:hover {
  background-color: #5c78d3;
/* 
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #999999; */
}

.footer {
  width: 100%;
  padding-top: 100px;
}

.site-footer {
  background-color: #ffffff;
  color: rgb(85, 85, 85);
  padding: 20px 0;
  font-family: 'Monaco', monospace;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-links,
.footer-social-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li,
.social-link {
  margin-bottom: 10px;
}

.footer-links li a,
.social-link {
  color: #9c9b9b;
  text-decoration: none;
}

.footer-text {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
}

@media (max-width: 1200px) {
  .App-h1 {
    font-size: 60px;
    padding-bottom: 20px;
  }

  .footer-row {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .intro {
    height: 100vh; 
    align-items: center;
    margin-top: 100px;
    display: block;
    justify-content: center;
  }

  .App {
    width: 100%;
  }

  .App-h1{
    width: 70%;
  }

  .App-image{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-left: 70px;
  }

  #section2 {
    margin-top: 700px;
  }

  .section-2{
    height: 100vh;
    display: flex;
    align-items: center;
  }

  .navTab{
    padding: 0%;
    width: 70%;
    /* height: 80%; */
  }

  .main-container{
    /* width: 100%; */
    font-size: x-large;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
    align-items: stretch;
    
  }

  .App{
    width: 100%;
    padding: 20px 0px;
    margin: 20px 0px;
  }

  .App-image {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .bg {
    /* background-repeat: no-repeat; */
    /* height: 90%;
    width: 90%;
    object-fit: cover; */
  
    width: 85%;
    height: auto;
  }

  .parallax-layer {
    transform: translateY(50px); /* Adjust the offset as needed */
  }

  .App-h1 {
    font-size: 32px;
    height: 90px;
  }

  #section2{
    margin-top: 470px;
  }

  .section-2 {
    height: auto;
  }

  .navTab{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-head h2 {
    font-size: 20px;
  }

  .input-field {
    width: calc(100% - 20px); 
  }
}

@media (max-width: 600px) {
  .footer-row {
    flex-direction: column;
  }
}

@media screen and (max-width: 480px) {
  .intro{
    height: 100%;
    justify-content: space-around;
  }

  .App-h1 {
    font-size: 24px;
  }

  .App-p {
    font-size: 16px;
  }

  .App-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0%;
  }

  .bg {
    width: 100%;
    height: auto;
  }

  #section2{
    margin-top: 470px;
  }

  .navTab {
    padding-top: 10px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tablist {
    width: 50%;
    font-size: small;
    display: flex;
  }
  

  .main-container {
    width: 85%;
  }

  .form-head h2 {
    font-size: 18px;
  }

  .input-field {
    padding: 8px;
  }

  .button {
    padding: 8px 16px;
  }
}
