
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App-header {
  width: 100%;
  display: flex;
  color: rgb(6, 6, 6);
  padding-right: 2%;
  padding-left: 2%;
  font-family: 'Monaco', monospace;
  position: fixed;
  background-color: #ffffff;
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
}

.logo-area {
  display: flex;
  align-items: center;
}

.social-area {
  display: flex;
  padding-right: 5%;
  align-items: center;
}

.socials {
  padding: 5px;
  width: 30px;
  height: 30px;
}



img {
  width: 50px;
  height: 50px;
}

.App {
  font-family: 'Verdana', sans-serif;
  margin-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: #4c574c;
  width: 50%;
}

.App-h1 {
  color: #000000;
  font-size: 80px;
  font-weight: 700;
  line-height: 70px;
  height: 250px;
}

.App-btn {
  color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: 'Monaco', monospace;
}

.App-p {
  font-family: 'Monaco', monospace;
  font-size: 17px;
}

.App-image {
  width: 50%;
  /* background-image: url(/src/images/side2-bg.jpg); */
  height: 100%;
  padding: 5px;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.bg {
  background-repeat: no-repeat;
  height: 90%;
  width: 90%;
  object-fit: cover;
}

.section-2 {
  background-color: #324ea8;
  display: flex;
  justify-content: center;
}

#section2 {
  margin-top: 400px;
}

.navTab {
  font-size: large;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 40%;
  display: flex;
  justify-content: center;
}

.tablist {
  justify-content: center;
  color: #fff;
  font-family: 'Monaco', monospace;
}

.main-container {
  margin: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  /* height: 85vh; */
}

.form-head {
  font-family: 'Monaco', monospace;
  padding-bottom: 20px;
  color: #c7c3de;
}

/* Style for input and select elements */
input {
  border: 1px solid #ccc;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  margin-right: 10px;
}

/* Style for labels */
.label {
  /* font-family: 'Arial', sans-serif, monospace; */
  font-family: 'Lucida Console', monospace;
  color: #ffffff;
  font-size: medium;
  font-weight: 600;
  padding-left: 10px;
}

/* Style for the results area */
.result-container {
  display: flex;
  justify-content: center;
  font-family: 'Monaco', monospace;
  margin-top: -3%;
}

.results {
  width: 60%;
  background-color: #fff;
  padding: 10px;
  text-align: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5)
}

.result {
  display: flex;
  justify-content: space-around;
}

    /* #10111F: #10111F;
    15px: 15px; */

/* .hr {
    
  width: 100%;
  height: 1px;
  display: block;
  position: relative;
  margin-bottom: 0em;
  padding: 2em 0;

  &:after,
  &:before {

      content: "";
      position: absolute;

      width: 100%;
      height: 1px;
      bottom: 50%;
      left: 0;

  }

  &:before {

      background: linear-gradient( 90deg, #10111F 0%, #10111F 50%, transparent 50%, transparent 100% );
      background-size: 15px;
      background-position: center;
      z-index: 1;

  }

  &:after {

      transition: opacity 0.3s ease, animation 0.3s ease;

      background: linear-gradient(
          to right, 
          #62efab 5%, 
          #F2EA7D 15%, 
          #F2EA7D 25%, 
          #FF8797 35%, 
          #FF8797 45%, 
          #e1a4f4 55%, 
          #e1a4f4 65%, 
          #82fff4 75%, 
          #82fff4 85%, 
          #62efab 95%);

      background-size: 200%;
      background-position: 0%;
      animation: bar 15s linear infinite;

  }

  @keyframes bar {

      0% { background-position: 0%; }
      100% { background-position: 200%; }

  }
  
} */

.result-ite {
  padding-bottom: 20px;
}

/* Style for individual result items */
.result-item {
  display: inline-block;
  /* margin-right: 20px;
  padding-left: 40px;
  padding-right: 40px; */
  
}

.word1 {
  font-family: 'Arial', sans-serif, monospace;
  color: #658a67;
  font-size: small;
  font-weight: 500;
}

/* Larger text for price estimations */
.price-estimate {
  font-size: 2em;
  color: #324ea8;
}

.btn {
  padding: 50px 50px ;
  display: flex;
  justify-content: center;
}

/* Button styling */
.button {
  font-family: 'Monaco', monospace;
  background-color: #324ea8;
  color: white;
  font-size: medium;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
}

/* Hover effect for buttons */
.button:hover {
  background-color: #5970bd;
}

.footer {
  width: 100%;
  padding-top: 100px;
}

.site-footer {
  background-color: #ffffff;
  color: rgb(85, 85, 85);
  padding: 20px 0;
  font-family: 'Monaco', monospace;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-column {
  flex: 1;
  min-width: 200px;
  margin-bottom: 20px;
}

.footer-links,
.footer-social-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li,
.social-link {
  margin-bottom: 10px;
}

.footer-links li a,
.social-link {
  color: #9c9b9b;
  text-decoration: none;
}

.footer-text {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
}

@media (max-width: 600px) {
  .footer-row {
    flex-direction: column;
  }
}